$eee: #eeeeee;
$white: #FFFFFF;
$fafafa: #fafafa;
$black: #000000;
$wb: #525252;
$coolBlack: #333333;
$transCoolBlack: hsla(0, 0%, 20%, 0.7);
$darkSilver: #b1b1b1;
$darkWhite: #f3f3f3;
$transparent: transparent;
$lowBlack01: hsla(0,0%,0%,0.01);
$lowBlack02: hsla(0,0%,0%,0.02);
$lowBlack03: hsla(0,0%,0%,0.03);
$lowBlack04: hsla(0,0%,0%,0.04);
$lowBlack05: hsla(0,0%,0%,0.05);
$lowBlack06: hsla(0,0%,0%,0.06);
$lowBlack07: hsla(0,0%,0%,0.07);
$lowBlack08: hsla(0,0%,0%,0.08);
$lowBlack09: hsla(0,0%,0%,0.09);
$hslaBlack01: hsla(0,0%,0%,0.1);
$hslaBlack02: hsla(0,0%,0%,0.2);
$hslaBlack03: hsla(0,0%,0%,0.3);
$hslaBlack04: hsla(0,0%,0%,0.4);
$hslaBlack05: hsla(0,0%,0%,0.5);
$hslaBlack06: hsla(0,0%,0%,0.6);
$hslaBlack07: hsla(0,0%,0%,0.7);
$hslaBlack08: hsla(0,0%,0%,0.8);
$hslaBlack09: hsla(0,0%,0%,0.9);
$hslaWhite01: hsla(100,100%,100%,0.1);
$hslaWhite02: hsla(100,100%,100%,0.2);
$hslaWhite03: hsla(100,100%,100%,0.3);
$hslaWhite04: hsla(100,100%,100%,0.4);
$hslaWhite05: hsla(100,100%,100%,0.5);
$hslaWhite06: hsla(100,100%,100%,0.6);
$hslaWhite07: hsla(100,100%,100%,0.7);
$hslaWhite08: hsla(100,100%,100%,0.8);
$hslaWhite09: hsla(100,100%,100%,0.9);
$darkOrange: hsla(42, 100%, 50%, 1);
$lightOrange: hsla(42, 100%, 60%, 1);
$liteRed: hsla(342, 100%, 50%, 1);
$darkGreen: #009e2d;
$lightGreen: #00ff48;